/* ========= Login ======= */

.siteCardBorder {
  text-align: center;
  padding: 100px;
}
.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 8%;
}
.error-notif {
  background-color: tomato;
  color: white;
}

/* ======= ============ */

.layout-header {
  height: 20% !important;
  background: #fff !important;
  padding: 10px !important;
}
.layout-footer {
  height: 20% !important;
}
.layout-content {
  height: 60% !important;
  min-height: 500px !important;
  background: #fff !important;
}